/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    color: #e0e0e0;
    background-color: #121212;
}
/*header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(18, 18, 18, 0.3);
    backdrop-filter: blur(6px);
    z-index: 100;
    border-bottom: 1px solid rgba(98, 181, 232, 0.5);
    
}
.logo img{
    width: 40px;
    height: 40px;
}
nav{
    margin-left: 325px;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #d6e4e8;
    font-weight: 500;
    transition: color 0.3s ease;
    
}
nav a:hover{
    color: #62b5e8;
}
.button .b{
    margin-left: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(135deg, #62b5e8, #533cc6, #62b5e8);
    background-size: 200% 200%;
    background-position: left center;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: transform 0.4s ease, box-shadow 0.2s ease, background-poition 4s ease-in-out;
}
.button .b:hover{
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    background-position: right center;
}
.front{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.bg-video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.intro{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.intro h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.intro p{
    font-size: 1.3rem;
    margin-bottom: 25px;
}
.btn.start{
    position: relative;
    background: transparent;
    color: #62b5e8;
    padding: 12px 25px;
    font-size: 1.1rem;
    border: none;
    border-radius: 0px;
    border: none;
    cursor:pointer;
    font-weight: 600;
}
.btn.start::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #62b5e8, #533cc6, #62b5e8);
    background-size: 200% 100%;
    opacity: 0;
    box-shadow: 0 6px 15px rgba(98,181,232,0.6), 0 8px 20px rgba(83,60,198,0.5);
    transition: opacity 0.4s ease, background-position 2s ease;
    pointer-events: none;
    z-index: 1;
}
.btn.start:hover::after {
    opacity: 1;
    background-position: 100% 0; 
}
.btn.start .arrow{
    font-size: 1.4em;
    font-weight: 700;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-left: 6px;

}
/* WEATHER */

.weather-box {
    padding: 60px 20px;
    text-align: center;
    background: linear-gradient(
  135deg,
  #020b1d 0%,
  #031739 45%,
  #0a1f4d 70%,
  #120e2f 100%
);
    border-top: 1px solid #333;
    position: relative;
    z-index: 10; 
}

.weather-info p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#location {
  font-size: 2rem;      
  font-weight: 600;      
  text-align: left;       
  width: 100%;            
  margin-left: 20px;
}

.location-loading {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from { opacity: 0.4; }
  to { opacity: 1; }
}


.temp-row {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    width: 90%;                     
    margin: 40px auto 0 auto;
}


#temperature {
    font-size: 3rem;     
    font-weight: 600;
    margin-top: 100px;      
    color: #d6e4e8;        
}

#weather-icon {
    display: block ;
    width: 120px ;
    height: auto ;
    background-color: transparent;
    position: absolute;
    right: 40px;
    top: 100px;
    z-index: 20;
}

.more-info {
    margin-top: 40px; /* space below weather info */
    text-align: center;
    font-size: 1rem;
    color: #62b5e8;
    font-weight: 300;
}

.more-info a {
    color: #62b5e8;
    font-weight: 400;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.more-info a:hover {
    color: #fff;
}
/* FOOTER */
footer {
    background: rgba(18, 18, 18, 0.4);   
    backdrop-filter: blur(8px);        
    border-top: 1px solid rgba(98,181,232,0.4);  
    padding: 35px 20px;
    margin-top: 0;
    text-align: center;
    color: #d6e4e8;
}

.footer-content h3 {
    font-size: 1.6rem;
    color: #62b5e8;       
    margin-bottom: 6px;
    letter-spacing: 0.5px;
}

.footer-content p {
    font-size: 1rem;
    color: #b8c7d0;
    margin-bottom: 15px;
}

.footer-bottom p {
    font-size: 0.85rem;
    color: #8fbfe8;      
    opacity: 0.85;
}

